* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none !important;
}

#HeaderTextBlog {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-top: 10px;
    margin-left: 600px;
    text-shadow: -3px -1px 10px rgba(255, 255, 255, 0.547);

}

body {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(3, 15, 33, 1) 52%, rgba(13, 15, 13, 1) 100%);

}

#navbarBack {
    padding: 0%;
    margin-bottom: 30px;
    width: auto;
    height: 110px;
}

#warsLogo {
    width: 160px;
    height: 100px;
}

.nav-link {

    color: whitesmoke !important;
    width: 200px;
    height: 50px;
    border-radius: none;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
    border: 2px solid rgba(255, 208, 0, 0.725);
    background-color: rgb(11, 10, 10) !important;
}


.btnFav {
    width: 20px;
    height: 10px;
    padding: 10px;
    padding-bottom: 10px;
    background: rgb(0, 0, 0) !important;
    border: black;

}

.fa-star {
    margin: auto;
    font-size: 20px;
    color: rgb(255, 200, 0) !important;

}

.fa-star p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 100 !important;
    color: rgb(255, 208, 0) !important;

}

#sidebarOptions {
    padding: 0%;
    margin-right: 90px;
    align-content: flex-end;

}

#containerCard {
    border: 1px solid rgb(255, 200, 0);


}

#cardBody {
    border: 3px solid rgb(236, 185, 2);
    background-color: black;
    margin: auto;
    margin-top: 40px;
    width: 800px;
}

#cardBody img {
    border-bottom: 3px solid rgb(236, 185, 2);



}

#cardBody h5 {
    color: white;
    padding: 0;
    margin: auto;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSQy4K9Q0uZS89Yzw_T7Cpm-ZVYjxk217pFA&s") !important;
    background-size: cover;

}

#propiertiesList li {
    font-size: 20px;
    color: white;
    border: none;
    background-color: black !important;
}

#propiertiesList h3 {
    color: rgb(244, 200, 3);
    border: none;
    background-color: black !important;
}


#PersonajesButtons {
    border-radius: 1px 50px 1px 50px;
    width: 290px;
    font-weight: bold;
    background-image: url("https://cdn-ssl.s7.shopdisney.com/is/image/ShopDisney/mb_franchise-star-wars_20190701_2x?fit=constrain&cropN=0,0,1,1&fmt=jpeg&qlt=90&wid=1200");
    background-size: 290px 50px;
    background-position-x: right;
    background-repeat: no-repeat;

    box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
    -webkit-box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
    -moz-box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);

}

#PersonajesButtons :hover {
    transition-duration: 400ms;
    text-shadow: -3px -1px 10px rgb(243, 0, 0);

}

#PlanetasButtons {
    border-radius: 1px 50px 1px 50px;
    width: 290px;
    font-weight: bold;
    background-image: url("https://i.pinimg.com/736x/5d/ee/d4/5deed4733b53eb468208d5d4589fc0d0.jpg");
    background-size: 290px 50px;
    background-position-x: right;
    background-repeat: no-repeat;
    box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
    -webkit-box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
    -moz-box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
}

#PlanetasButtons :hover {
    transition-duration: 400ms;
    text-shadow: -3px -1px 10px rgb(243, 0, 0);
}

#VehiculosButtons {
    border-radius: 1px 50px 1px 50px;
    width: 290px;
    font-weight: bold;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/232/550/493/star-trek-uss-enterprise-spaceship-space-multiple-display-wallpaper-preview.jpg");
    background-size: 290px 50px;
    background-position-x: right;
    background-repeat: no-repeat;
    box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
    -webkit-box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
    -moz-box-shadow: -13px 15px 0px -3px rgba(255, 215, 0, 0.75);
}

#VehiculosButtons :hover {
    transition-duration: 400ms;
    text-shadow: -3px -1px 10px rgb(243, 0, 0);
}


#sidebarOptions p {
    margin-left: 25px;
}

#addFavs {
    display: flex;
    margin-left: 600px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: left;
    align-items: left;

}

#addFavs p {
    color: white;


}


.card h-100 {
    border: 1px solid black;
}

#backgroundBodyCard {
    font-size: 30px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf7J-KsJHCAiIgo6wJNk7-VtbJ8QT_w0cFHQ&s");
    background-size: cover;
}

#backgroundBodyCard h5 {
    font-size: 30px;
    text-shadow: -2px -1px 2px rgb(72, 72, 72);
    text-decoration: none !important;

}

#DropDownFavs {
    width: 190px !important;
    color: white;
    margin-top: 20px;
    padding-left: 10px !important;
    text-align: left;
    font-size: 20px;
    height: auto;
    border-radius: 0%;
    background-color: black;



}

#DropDownFavs button {
    padding: 0%;
    margin-left: 10px;
    display: inline-block;
    color: red;
    background-color: black;
    text-align: center;
    width: 5px;
    margin: 2px solid white;

}

#imageCard {

    width: auto;
    height: 200px;

}